doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        //-Variable desde el controlador para el titulo
        title #{nombrePagina}  
    body 
        header.barra
            h1 UpTask - Administrador de Protyectos 
            a(href="#") Cerrar Sesion 
        main.contenedor 
            aside.contenedor-proyectos 
                .panel.crear-proyecto 
                    a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto
                        span +
                .panel.lista-proyectos 
                    h2 Proyectos
                    ul#proyectos.proyectos 
                        li 
                            a(href="#") Diseño de Tienda Virtual
                        li 
                            a(href="#") Diseño de Blog
                        li 
                            a(href="#") Diseño de Logotipo

            block contenido 